body{
    background-color: bisque;
}
header{
    background-color: pink;
    text-align: center;
    padding: 64px;
}
.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 30px;
    color:red;
}
.sub-title{
color: blanchedalmond;
}
main{
    background-color: white;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
}
.judul-luas{
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.judul-keliling{
    background-color:lightgoldenrodyellow;
    text-align: center;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gambar-persegi{
    width: 200px;
    height: 107px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.hitung-keliling{
    text-align: center;
}
.hitung-luas{
    text-align: center;
}
#input-luas{
    width: 100%;
}
#input-keliling{
    width: 100%;
}
#hitung-luas{
    background-color: aqua; 
    padding: 10px;
    color:rebeccapurple;
    border: none;
}
#reset-luas{
    background-color: blue;
    padding: 10px;
    color: azure;
    border: none;
}
#hitung-keliling{
    background-color: aqua;
    padding: 10px;
    color:rebeccapurple;
    border: none;
}
#reset-keliling{
    background-color: blue;
    padding: 10px;
    color:azure;
    border: none;
}